*{padding:0;margin:0;}


.float{
	position:fixed;
	width:60px;
	height:60px;
	top:40px;
	z-index: 1059;
	right:40px;
	background-color:#569E44;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.callme_button_with_text{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif !important;
    font-size: 100% !important;
	position: fixed;
	top:10px;
    right: 20px;
	height: 48px;
	color:#FFF;
    width: auto;
    z-index: 2147483646 !important;
    background: #569E44 !important;
    border: 0 !important;
    border-radius: 100px !important;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.25) !important;
    box-sizing: border-box !important;
    padding: 0 20px;
    transition: all .4s,bottom .8s ease-in-out !important;
    cursor: pointer !important;
    outline: none !important;
    margin: 0;
    -webkit-font-smoothing: antialiased !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    animation-name: loadButton;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: .2s;
}

.callme_button_text {
    color: #FFFFFF !important;
    display: inline-block !important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif !important;
    font-size: 1.1em;
    line-height: 48px !important;
    font-weight: bold !important;
    max-width: 200px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    vertical-align: top !important;
    white-space: nowrap !important;
	padding: 0 !important;
	margin-top: -5px;
	transition: .6s ease-in-out !important;
	
}